.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    padding: 1.1rem 5rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .3s;
    font-size: var(--default-font-size);
    font-family: var(--btn-font);
    background-color: black;
    color: white;

    // Change for the <button> element
    border: none;
    cursor: pointer;

  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px var(--clr-black-2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  /*When we click an element its the active state property*/
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(var(--clr-black-2), .2);
  }

  &:hover {
    background-color: var(--clr-white-4);
    box-shadow: 0 1rem 2rem rgba(var(--clr-black-2), .55);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(var(--clr-black-2), .15);
    transform: translateY(0);
  }



}

