// Color family

:root {
  --clr-black: #000;
  --clr-black-1: #15141B;
  --clr-black-2: #000000;

  --clr-white: #000000;
  --clr-white-1: #F9FAFB;
  --clr-white-2: #F6F7F9;
  --clr-white-3: #F9FAFB;
  --clr-white-4: #484480;

  --clr-grey: #DFE3E8;
  --clr-grey-1: #C4CDD5;
  --clr-grey-2: #919EAB;
  --clr-grey-3: #637381;
  --clr-grey-4: #000000;


  --clr-light: #FFFAE0;
  --clr-light-1: #ffffc3;
  --clr-light-2: #ffff84;

  --clr-blue: #c8d8ff;
  --clr-blue-1: #b3ddff;
  --clr-blue-2: #a1dbff;

  --clor-pastel: rgb(174, 171, 200);

  --default-font-size: 1.6rem;

  // Grid

  --grid-width: 100rem;
  --grid-vertical: 8rem;
  --grid-vertical-small: 6rem;
  --grid-horizontal: 6rem;


}

// Font-size











