.section {
  background-image: linear-gradient(rgb(174, 171, 200), rgba(250, 248, 248, 0.9)), url(../img/background-1.jpg);
  background-size: cover;
  background-position: center;
}

.section-container {
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(25rem, 1fr));
  margin-left: 3rem;
  width: 100%;


  &__image {
    position: relative;
  }


  &__pc:hover + &__content {
    display: inline-block;
    pointer-events: none;
    content: "";

    @keyframes gm-slidein {
      from {
        -webkit-transform: translate3d(-55%, 55%, 0);
        opacity: 0;
        transform: translate3d(-55%, 55%, 0);
      }

      to {
        -webkit-transform: none;
        opacity: 1;
        transform: none;
      }
    }
  }


  &__content {
    -moz-animation: gm-slidein 1s 1;
    -ms-animation: gm-slidein 1s 1;
    -o-animation: gm-slidein 1s 1;
    -webkit-animation: gm-slidein 1s 1;
    animation: gm-slidein 1s 1;


    display: none;
    position: absolute;
    top: 35%;
    left: 7.5%;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    margin: -3.2rem 2rem;
    max-width: 50%;
    padding: 4rem 0 5rem;
  }

  &__content p {
    color: #000000;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-family: var(--btn-font);
    font-weight: bolder;
    -webkit-text-stroke: 1.5px #c8cbff;
  }


  &__pc {
    background: rgb(152, 149, 229);
    background: linear-gradient(90deg, rgb(250, 250, 250) 0%, rgb(134, 132, 160) 100%);
    clip-path: polygon(21% 0, 100% 0, 75% 100%, 0 100%);
    width: 75%;
    box-shadow: 0 2rem 4rem rgb(0, 0, 0);

    &:hover {
      cursor: pointer;
      transition: ease-in-out 0.35s;
      opacity: 40%;
      transform: translate(1rem, -1rem);
      display: inline-block;
    }

  }

  &__system {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--description-font);
    font-size: 2rem;
    line-height: 3.2rem;
  }

  &__price, {
    font-size: 3.5rem;
  }

  &__price:hover {
    color: #484480;
  }
}







